@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.titulos__principales {
    font-weight: 700;
    font-size: 2rem;
}

.logo__titulo {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 10px;
}

.novedad__titulo {
    margin-bottom: 10px;
    margin-top: 10px;
}

.marca__titulo {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 10px;
    color:#171717;
}

.marca__titulo--small {
    font-size: 1rem;
    font-weight: 500;
    padding: 0px 10px 0px 10px;
    color:#171717;
}

.popular__titulo {
    margin: 10px 0px 40px 0px;
}

.categoria__titulo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2rem;
}

.relacionado__titulo {
    font-size: 1.2rem;
}

.relacionado__principales {
    font-weight: 700;
    font-size: 2rem;
}

.login__title {
    text-align: center;
    font-weight: 500;
}

.noticia__titulo {
    font-size: 1.5rem;
    font-weight: 500;
}

