/* Subscripcion */
.subscripcion{
    display: block;
    padding: 3rem;
}

.subscripcion__formulario{
    background-color:rgb(97, 149, 19);
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
}

.subscripcion__parrafo{
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
}